$app-primary-color: #00c8b3;
$button-font-color: #00c8b3;
$input-border: #efeeed;
$input-without-focus: #efeeed;
$input-with-focus: #333333;
$input-invalid: #eb4a46;

.form-container{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.userTable{
    margin:auto;
    padding: 8px;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    border-bottom: 1px solid #ddd;
}

td{
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: $app-primary-color;
    color: white;
}

button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: $app-primary-color;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;   
    color: #ffffff;
}

button:hover {
   opacity: 0.7;
}

input{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid $input-border;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

input:focus {     
     color:$input-with-focus
}

input:invalid {
    border: 1px solid $input-invalid;
    color: $input-invalid;
}